<div  class="row mt-5"> 
  <input type="button"  class="btn btn-info" value="ajouter formulaire" (click)="addEvents()">
</div>
<div>
<h2>Liste des evenements :</h2>

    <div class="row mt-5"  *ngFor="let event of eventslist; let i = index;"  >
    <div class="col-4 gray"><img src=""></div>
    <div class="col-8" >
      
        <h2>{{event.title}}</h2>
        <h3>{{event.organisateur}}</h3>
        <p>{{event.description}}</p>
         <h3>{{event.dateDEBUT}}</h3> 
         <h3>{{event.dateFIN}}</h3> 
         <p>
          <input type="button" class="btn btn-success" value="Modifier"  (click)="updateEvents()" />
          <input type="button" class="btn btn-danger" value="Supprimer" (click)="deleteEvents(i)"/>
      </p>
    </div>
    </div>
</div>
<div>
    
    <app-event *ngIf= "events.state == 'add'"></app-event>
    <app-edit *ngIf= "events.state == 'update'" ></app-edit>
</div>